<% if @newly_added_task == task %>
  <div class="task<%= task.id %>" id="newly_added_task">
<% else %>      
  <div class="task<%= task.id %>" >
<% end %>
    <%= check_box_tag( "is_done_ids[]", task.id, false, class: "checkbox_#{task.id}" ) %>
    <%= link_to task.title, task_path(task), class: "task-item-not-done" %>
  </div>
